<h4>Answer these questions please</h4>
<form class="form" name="phq9Form" ng-submit="qCtrl.submit(phq9Form, qCtrl.sumTotal)">

  <button ng-click="$event.preventDefault(); qCtrl.selectRandomAnswers()"> Random</button>
  
  <div class="question-list">
    <!-- each question + answers block -->
    <div ng-repeat="question in qCtrl.data.questions">

      <div class="row question-answers-block"
        ng-class="[{
        'need-answer': phq9Form['parent' + $index].$invalid,
        'have-answered': phq9Form['parent' + $index].$valid
        }]">

        <!-- single question on left-->
          <div class="col-md-6 question-block">
            <p>
              <span class="question-number">{{$index+1}})</span> {{ ::question }}
            </p>
          </div>
          
          <!-- answers on right -->
          <div class="col-md-6 answers-block">
            <div class="row answer-single" ng-repeat="answer in qCtrl.data.answers">
              <label>
                <input
                  required
                  type="radio"
                  name="{{ 'parent' + $parent.$index}}"
                  ng-model="qCtrl.formData['answer' + $parent.$index]"
                  ng-value="{{ ::answer[1] }}"
                  ng-change="qCtrl.processForm(qCtrl.formData)"
                >

                {{ ::answer[0]}}

              </label>
            </div> <!-- / ng repeat of answer-single-->
          </div> <!-- /.answers-block -->
      
      </div> <!-- /.question-block -->

    </div> <!-- /.row ng repeat-->

  </div> <!-- /.question-list -->

  <!-- submit score -->
  <button ng-click="$event.preventDefault(); qCtrl.selectRandomAnswers()"> Random </button>
  <input ng-show="qCtrl.sumTotal >= 10" type="submit" id="submit" value="Check for support in your area">
</form>

  <!-- tally and display score-->
  <p class="total-score" ng-cloak>
    Total: {{qCtrl.sumTotal}} / {{ qCtrl.data.questions.length * 3}}
  </p>

  <p class="result" ng-class="[{
    'bg-success': qCtrl.severity == 'mild',
    'bg-info': qCtrl.severity == 'moderate',
    'bg-warning': qCtrl.severity == 'moderately-severe',
    'bg-danger': qCtrl.severity == 'severe' 
  }]">
    Your depression severity is : 
    <span ng-show="phq9Form.$valid">{{qCtrl.severity}}</span>
    <span ng-show="phq9Form.$invalid">please answer all questions first</span>
  </p>
  <small>
    Depression Severity Scale: 0-4 none,
    <span class="scale-bg" ng-class="{'bg-success': qCtrl.severity == 'mild'}">5-9 mild</span>,
    <span class="scale-bg" ng-class="{'bg-info': qCtrl.severity == 'moderate'}">10-14 moderate</span>,
    <span class="scale-bg" ng-class="{'bg-warning': qCtrl.severity == 'moderately-severe'}">15-19 moderately severe</span>,
    <span class="scale-bg" ng-class="{'bg-danger': qCtrl.severity == 'severe'}">20-27 severe</span>
  </small>

  <div data-question-modal parent="qCtrl.modal"></div>

