<h4>Answer these questions please</h4>
<form name="phq9Form" ng-submit="qCtrl.submit($form)">
  
  <div class="question-list">
    <!-- each question-->
    <div class="row question-block" ng-repeat="question in qCtrl.data.questions">
      <!-- question on left-->
      <div class="col-md-6">
        {{question}}
      </div>
      
      <!-- answer on right -->
      <div class="col-md-6">
        <div class="row" ng-repeat="answer in qCtrl.data.answers">
          <label>
            <input
              required
              name="{{'answer' + $parent.$index}}"
              type="radio"
              ng-model="qCtrl.formData['answer' + $parent.$index]"
              ng-value="{{answer[1]}}"
              ng-change="qCtrl.sum(qCtrl.formData)">
            {{answer[0]}}
          </label>
        </div>
      </div>

    </div> <!-- /.question-block -->
  </div> <!-- /.question-list -->

  <!-- tally -->
  <p>
    Sum: {{qCtrl.sumTotal}} / {{qCtrl.data.questions.length * 3}}
  </p>
  <p>Depression Severity: 0-4 none, 5-9 mild, 10-14 moderate, 15-19 moderately severe, 20-27 severe.</p>
  <p>
    form valid for submission?: {{phq9Form.$valid}}
  </p>

  <!-- submit score -->
  <input type="submit" id="submit" value="Check for support in your area">

</form>

<div ng-show="qCtrl.checkDoctors">
  <p>Doctor Amber</p>
  <p>Doctor Ben</p>
  <p>Doctor Chrissy</p>
</div>
