.question-answers-block {
  margin: 15px 0px;
}

.question-number {
  font-weight: bold;
}

.answer-single {
  margin: 0.5em 0px;
}

.pleaseSelect {
  font-size: 1.5em;
  font-weight: bold;
  color: red;
}

.total-score {
  font-size: 1.5em;
}

.result {
  font-size: 1.5em;
}

.need-answer {
  background-color: #FFDDDD;
}

.have-answered {
  background-color: #CCFFCC;
}

.scale-bg.bg-success { font-weight: bolder; }
.scale-bg.bg-info {font-weight: bolder;}
.scale-bg.bg-warning {font-weight:bolder;}
.scale-bg.bg-danger {font-weight:bolder;}

@media screen and (min-width: 480px) {
  .answer-single {
    margin: 0em 0em;
  }
}

.form {
  position: relative;
}

.right {
  position: absolute;
  right: 0;
}